
*{

    padding: 0px;
    margin: 0px;
}

.cont1{

align-items: center;
display: flex;
justify-content: center;
flex-direction: column;
background-color: #F0F2F5;
}

.cont1 h3{

    font-size: 50px;
    font-weight: bold;
    color: #0866FF;
    padding-bottom: 18px;
}

main{

    border: 1px solid black;
    width: 33%;
    align-items: center;
    border-radius: 5px;
    background-color: white;
   
    
}

main .head{
    padding: 10px 15px;
    text-align: center;
}

.head h2{

    font-size: 20px;
}

form{

    padding: 10px 10px;
}

form input{

    padding: 10px 2px;
    margin-bottom: 7px;
}

form .p1{

    font-size: 12px;
}

form .choice1{

    padding: 10px 27px;
    text-align: center;


}


.radio-button{

    border: 0.5px solid black;
    padding: 5px 10px;
    align-items: center;
    display: inline-flex;
    border-radius: 5px;
}